<a href="https://colab.research.google.com/github/Nyko-Bonifacio/CpE031-VDA-CpE21S4/blob/main/Prelim_Q12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Pandas program to delete Data Frame row(s) based on given column value.  ![image.png]()

In [11]:
import pandas as pd
print("Original DataFrame:")
data = { 'col1': (1, 2, 3, 4, 5), 'col2': (4, 5, 6, 7, 8), 'col3': (7, 8, 9, 0 ,1)
}
df = pd.DataFrame(data)
print(df)
#new
print("New DataFrame:")
df = df.drop(1)
print(df)

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame:
   col1  col2  col3
0     1     4     7
2     3     6     9
3     4     7     0
4     5     8     1