<a href="https://colab.research.google.com/github/Nyko-Bonifacio/CpE031-VDA-CpE21S4/blob/main/Prelim_Q11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a  Pandas program to create a Data Frame from a dictionary and display it ike similar to the table below: ![image.png]()

In [8]:
import pandas as pd

data = { 'X': (78, 85, 96, 80, 86), 'Y': (84, 94, 89, 83, 86), 'Z': (86, 97, 96, 72, 83)
}

df = pd.DataFrame(data)

print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83